<div class="row">
  <div class="col-md-4">
    <br>
    <a href="/" class="btn btn-primary" role="button">Home</a>
  </div>
  <div class="col-md-4">
    <h1>Bands</h1>
  </div>
  <div class="col-md-4">
    <br>

  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a id="add_new_band" href="/bands/new" class="btn btn-success stretch" role="button">Add a New Band</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @all_bands.any? %>
      <ul>
        <% @all_bands.each do |band| %>
          <li>
            <a href="/bands/<%= band.id %>"><%= band.name %></a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="lead text-center">
        Sorry, there are no bands. Try adding one below!
      </p>
    <% end %>
  </div>
</div>
