<h1>New Band</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/bands/new" method="post">
      <div class="form-group">
        <input type="text" id="band_name" name="band_name"  class="form-control" placeholder="Band Name" autofocus>
      </div>
      <button id="add_band" type="submit" name="button" class="btn btn-success stretch">Add Band</button>
    </form>
  </div>
</div>
