<div class="row">
  <div class="col-md-4">
    <br>
    <a href="/" class="btn btn-primary" role="button">Home</a>
  </div>
  <div class="col-md-4">
    <h1>Band Up!</h1>
  </div>
  <div class="col-md-4">
    <br>
    
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a id="bands" href="/bands" class="btn btn-info stretch" role="button">Bands</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a id="venues" href="/venues" class="btn btn-info stretch" role="button">Venues</a>
  </div>
</div>
