<!DOCTYPE html>
<html>
  <head>
    <title>Band Up!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" title="bootstrap" charset="utf-8" type="text/css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="/bands" class="btn btn-nav" role="button">View Bands</a></li>
            <li role="presentation"><a href="/bands/new" class="btn btn-nav" role="button">Add Band</a></li>
          </ul>
        </div>
        <br>
        <div class="row">
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="/venues" class="btn btn-nav" role="button">View Venues</a></li>
            <li role="presentation"><a href="/venues/new" class="btn btn-nav" role="button">Add Venue</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
