<!DOCTYPE html>
<html>
  <head>
    <title>Band Up!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" title="bootstrap" charset="utf-8" type="text/css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
