<h1>New Venue</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/venues/new" method="post">
      <div class="form-group">
        <input type="text" id="venue_name" name="venue_name"  class="form-control" placeholder="Venue Name" autofocus>
      </div>
      <div class="form-group">
        <input type="text" id="venue_location" name="venue_location" class="form-control" placeholder="Venue Location">
      </div>
      <button id="add_venue" type="submit" name="button" class="btn btn-success stretch">Add Venue</button>
    </form>
  </div>
</div>
