body {
  background-image: url('img/lasers.png');
  background-position: center;
  color: #fff;
  height: 100%;
}

h1 {
  border-bottom: 1px solid #eee;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 1em;
}

.header {
  border-bottom: 1px solid #eee;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 1em;
}

html {
  height: 100%;
}

.container {
  background-color: rgba(0,0,0,0.6);
  min-height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.stretch {
  width: 100%;
}

.errors {
  background-image: url('img/bouncer.png');
  background-position: center;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  /*z-index:-1;*/
}

.errors-header {
  padding-top: 20px;
  border-radius: 5px;
  color: black;
}

.errors-item {
  border-radius: 5px;
  padding: 0.25em 1em 0.25em 1em;
  color: black;
}

.error-path {
  color: red;
}
